$color-primary: #F06032;
$color-primary-light: #F8A68C;
$color-primary-dark: #A42B05;
$color-tile: #F9D0AA;
$color-contrast: #FFF;
$color-complimentary: #0D4363;
$color-primary-hover: #e63900;

$color-digit-one: #2BA065;
$color-digit-two: #325B73;
$color-digit-three: #9D5F12;
$color-digit-four: #C41717;
$color-digit-five: #7F9720;
$color-digit-six: #561E1E;
$color-digit-seven: #F6FFD0;
$color-digit-eight: #9E00A2;

$color-backgroung-modal: rgba(41, 41, 41, 0.6);

$color-dark-background: #061F2E;
$color-dark-light: #205371;
$color-dark-shadow: #09324C;

$content-width: 750px;

$tablet-width: 768px;
$button-width: 540px;